/Users/milly/Desktop/hw3-course/fonts
/Users/milly/Desktop/hw3-course/images
/Users/milly/Desktop/hw3-course/index.html
/Users/milly/Desktop/hw3-course/javascripts
/Users/milly/Desktop/hw3-course/layout-test.html
/Users/milly/Desktop/hw3-course/sass
/Users/milly/Desktop/hw3-course/stylesheets
/Users/milly/Desktop/hw3-course/config.rb